@charset "UTF-8";

.content {
  height: 500px;
}

.image {
  background: url(../../image/coffee-background.jpg) ;
}

.image_repeat {
  background: url(../../image/coffee-background.jpg) ;
  background-repeat: no-repeat;
}

.image_center {
  background: url(../../image/coffee-background.jpg) center/cover;
  background-repeat: no-repeat;
}

.image_center_fit {
  background: url(../../image/coffee-background.jpg) center/contain;
  background-repeat: no-repeat;
}