@charset "UTF-8";

.content {
  height: 500px;
}

.image {
  background: url(../../image/coffee-background.jpg) ;
}

.image_repeat {
  background: url(../../image/coffee-background.jpg) no-repeat;
}

.image_center {
  background: url(../../image/coffee-background.jpg) no-repeat center/cover;
}

.image_center_fit {
  background: url(../../image/coffee-background.jpg) no-repeat center/contain;
}